header {
    background-color:darkblue;
    color: antiquewhite;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}
body {
    background-image: url('record.png');
    background-size: cover;
    margin: 0%;
    background-repeat:repeat;
    background-size: 200px 200px;
}